.nav .menu #homeLink {
    color:#072AC8;
} 

/* Hero section style */

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    width: 100%;
    margin-bottom: 6.5rem;
} 

/* Text container */

.hero .textContainer{
    width: 40%;
}

.hero .textContainer h1{
    font-size: 3.15rem;
    line-height: 111%;
    margin-bottom: 18px;

}

.hero .textContainer p {
    margin-bottom: 65px;
    width: 74%;

    line-height: 150%;
}

.hero .btnContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10%;
}

/* Img Container */
.imgContainer {
    position: relative;
    width: 40%;
}


.hero .imgContainer .image{
    position: relative;
    width: 100%;
}

.hero .imgContainer .card1 {
    position: absolute;
    
    width: 60%;
    height: auto;
    right: 56%;
    top: 2%

}

.hero .imgContainer .card2 {
    position: absolute;
    width: 60%;
    height: auto;
    left: 51%;
    top: 66%;
}


/* Tablet hero section */

@media (max-width: 820px) {

    /* Tablet text container */ 

    .hero .textContainer h1 {
        width: 75%;
        font-size: 2rem

    }
    .hero .textContainer p{
        margin-bottom: 2.5rem;
    }

    .hero .btnContainer a {
        margin: 5% 0;
    }

}



/* Phone hero section */ 
@media (max-width: 480px){

    .hero {
        flex-direction: column;
        position: relative;
    }

    /* Phone text container */

    .hero .textContainer {
        width: 100%;
        position: relative;
        background: none;
        text-align:left;
        padding: 2%;
    }

    .hero .textContainer h1 {
        font-size: 2.5rem;
        margin-bottom: 105%;
    }

    .hero .textContainer p{
        font-size: 1.4rem;
        width: 100%;
    }

    .hero .btnContainer a {
        margin: 0;
    }


    /* Phone Image container */ 

    .hero .imgContainer {
        position: absolute;
        top: 23%;
        margin: 6%;
        width: 100%;
        height: auto;
    }

    .hero .imgContainer .image {
        width: 70%;
        height: auto;
        left: 20%;
    }

    .hero .imgContainer .card1 {
        width: 42%;
        left: 7%;
    }

    .hero .imgContainer .card2  {
        width: 40%;
        left: 55%;
        top: 70%;
    }


}


/* Client section style */

.client {
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    width: 100%;
    min-height: 4.8rem;

    border: 1px solid #000000;

}

.client > img {
    filter: grayscale(100%);
    height: auto;
    width: 5.05rem;
}

/* Client section tablet */
@media (max-width: 820px) {
    .client {
        flex-wrap: wrap;
    }

    .client > img {
        margin: 5%;
    }
}


/* Project section style */
.projects{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    width: 100%;
    height: auto;
}

.projects .cardsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%; 

}

.projects .cards {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    width: 340px;
    margin-bottom: 3%;

    background-color: #FFFFFF; 
    box-shadow: 0px 38.7755px 77.551px rgba(0, 0, 0, 0.1);
}

.projects .cards .content> h5, 
.projects .cards .content > p,
.projects .cards  .content > a {
    padding-left: 9%;
}

.projects .cards .content > h5 {
    font-weight: 500;
    margin-bottom: 3%; 
}

.projects .cards .content> p {
    margin-bottom: 2.7rem;
}

.projects .cards .content> a {
    color: #072AC8;

}

.projects .cards > img{
    width: 100%;
    height: 53.5%;
    margin-bottom: 9%;
}

/* Tablet project section */
@media (max-width: 820px) {
    .projects{
        height: 40%;
        margin-bottom: 10%;
    }

    .projects .cardsContainer {
        height: 70%;
    }

    .projects .cardsContainer .cards img {
        display: none;
    }

    .projects .cards {
        justify-content: flex-end;
        border-radius: 1rem;
        overflow: hidden;

        width: 30%;
    
        box-shadow: 0px 38.7755px 77.551px rgba(0, 0, 0, 0.1);
        transition: transform 500ms ease;
    }

    .projects .cards .content p,
    .projects .cards .content h5{
        color:#F4F6FC;
        padding: 4%;
        margin: 0;
    }

    .projects .cards .content p {
        font-size: 0.81rem;
        margin-bottom: 3%;
    }

    .projects .cards .content h5{
        margin-bottom: 5%;
    }
    
    .projects .card1 {
        background-image: url("/project-assets/projects-section/1.jpg");
        background-size: cover;
        background-position: center;
    }

    .projects .card2 {
        background-image: url("/project-assets/projects-section/2.jpg");
        background-size: cover;
        background-position: center;

    }

    .projects .card3 {
        background-image: url("/project-assets/projects-section/3.jpg");
        background-size: cover;
        background-position: center;
    }

    .projects .cards .content {
        width: 100%;
        padding: 0 0 10% 4%;
        background: linear-gradient(
            hsl(0 0% 0%/ 0),
            hsl(20 0% 0%/ 0.1) 20%,
            hsl(0 0% 0% / 1));
        transform: translateY(60%);
        transition: transform 500ms ease; 
    } 
    
    .projects .cards .content a {
        padding: 2%;
        margin-left: 2%;
        color:#292E47;
        cursor: pointer;
        background-color: #FFC600;
        border-radius: 0.25em ;
    }
    /* Animating */ 
    .projects .cards:hover,
    .projects .cards:focus,
    .projects .cards:active {
        transform: scale(1.5);
        z-index: 3;
    }

    .projects .cards .content a:hover,
    .projects .cards .content a:focus,
    .projects .cards .content a:active{
        background-color:#ECF7FF;
    }

    .projects .cards:hover .content,
    .projects .cards:focus .content,
    .projects .cards:active .content {
        transform: translateY(0);
    }

}  

/* Phone projects sectiona */ 
@media (max-width: 480px) {
    .projects {
        height: auto;
    }

    .projects .cardsContainer {
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }

    .projects .cards {
        touch-action: manipulation;
        width: 90%;
    }

    .projects .cards:hover,
    .projects .cards:focus, 
    .projects .cards:active {
        transform: scale(1.3);
    }

    .projects .cards .content h5 {
        margin-top: 2%;
    }
}

/* Testimonial section style */

.testimonial{
    position: relative;
    margin-right: 5%;
    margin-left: 5%;
    padding-top: 6rem;
    padding-bottom: 6rem;

    background-color: #292E47;;
    background-image: url('/project-assets/testimonial-section/orbit.png');
    background-position: center;
    background-size: cover;
}

.testimonial .container {
    background-color: #292E47;
    margin-left: 25%;
    margin-right: 25%;
}

.testimonial .container h3 {
    text-align: center;
    margin-bottom: 5.2rem;

    color: #F4F6FC;
}

.testimonial .container p {
    text-align: center;
    margin-bottom: 16%;

    color: #FFC600;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 160%;

}

/* Profile style and positioning */ 

.testimonial .container .profile{
    background-color: #292E47;
    display: flex;
    justify-content: center;
    height: 2.5rem;
}

.testimonial .container .profile > img {
    width: 2.5rem;
    border-radius: 50%;
    margin-right: 2%;
}

.testimonial .container .profile .text {
    background-color: #292E47;
}

.testimonial .container .profile .text > p {
    color: #A2D6F9;
    font-size: 0.85rem;
    margin: 0;
}
.testimonial .container .profile .text > a {
    color: #F4F6FC;
    font-size: 0.65rem;
}

/* Avatar positioning */

.testimonial .avatar{
    background-color: #292E47;
    position: absolute;
    width: 11.5%;
}

#avatar1 {
    top: 10%;
    left: 6%;
}

#avatar2 {
    top: 10%;
    right: 6%;
}

#avatar3 {
    left: 6%;
    bottom: 10%;
}

#avatar4 {
    right: 6%;
    bottom: 10%;
}

/* Taablet testimonial section styling */
@media (max-width: 820px) {

    #avatar1, 
    #avatar2,
    #avatar3,
    #avatar4 {
        width: 15%;
        height: auto;
    }
}

/* Phone testimonial section styling */
@media (max-width: 480px) {

    .testimonial .container .profile {
        display : none;
    }

    #avatar2,
    #avatar3,
    #avatar4 {
        display: none;
    }

    .testimonial{
        position: relative;
        margin-right: 5%;
        margin-left: 5%;
        padding: 0;
    }

    .testimonial .container {
        margin: 20% 5% 20% 5%;
        padding: 20% 10% 10% 10%;
    }


    .testimonial .container h3 {
        text-align: left;
        margin-bottom: 15px;
        font-weight: 500;

    }

    .testimonial .container p {
        text-align: left;
        margin-bottom: 0;
    
        font-size: 1.42rem;
        font-weight: 400;
        line-height: 146%;
    }

    #avatar1 {
        top: -12%;
        left: 38%;
        border-radius: 50%;
        width: 25%;
        height: auto;
        background-color: #FFFFFF;
    }
}

/* Services section style and positioning */
.services{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    width: 100%;
}

.services .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%; 
} 

.services .card {
    display: flex;
    flex-direction: column;
    padding-left: 2%;
    padding-right: 2%;
    width: 340px;
    height: 380px;
    margin-bottom: 3%;
    background-color: #FFFFFF;
    box-shadow: 0px 38.7755px 77.551px rgba(0, 0, 0, 0.1);
}

.services .card .imgContainer {
    background-color: #ECF7FF;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    width: 80px;
    height: 80px;

    margin-bottom: 10%;
    margin-top: 14%;
} 

.services .card .imgContainer > img {
    width: 50%;
}

.services .card > h5 {
    margin-bottom: 6%;
}

.services .card > p {
    line-height: 150%;
    margin-bottom: 12%;
}

.services .card > a {
    color: #072AC8
}

/* Tablet services styling */ 
@media (max-width: 820px) {
    .services{
        align-items: baseline;
    }

    .services .container {
        justify-content: space-between;
        width: 80%; 
    } 

    .services .card {
        touch-action: manipulation;
        padding-left: 5%;
        padding-right: 5%;
        width: auto;
        height: auto;

        transition: background-color 0.5s ease, color 0.5s ease;
    }

    .services .card .imgContainer {
        width: 50px;
        height: 50px;

        margin-top: 5%;
        margin-bottom: 5%;
    } 

    .services .card > h5 {
        font-size: 1.52rem;
        margin-bottom: 5%;
    }

    .services .card > p {
        font-size: 1.25rem;
        margin-bottom: 5%;
    }

    .services .card > a {
        margin-bottom: 5%;
    }

    .services .card:hover,
    .services .card:active{
        background-color: #072AC8;
        background-color:linear-gradient(to top, #FFFFFF #072AC8);
        color:#E5E5E5;
    }
    .services .card:hover h5,
    .services .card:active h5,
    .services .card:hover a,
    .services .card:active a {
        color:#A2D6F9;
    }
}

/* Cta styiling */ 

.cta{
    background-color: #FFC600;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7%;
}
.cta > h3 {
    margin-bottom: 2%;
}
.cta > p {
    margin-bottom: 4.5%;
    color:#292E47;
}

.cta .form {
    background-color: #FFC600;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 2%;
}

.cta .emailContainer {
    background-color: #F4F6FC;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 2%;
    width: 36%;
    height: 4rem;
    
}

.cta .emailContainer > input  {
    background-color: #F4F6FC;
    border: none;
    font-size: 0.85rem;
    width: 80%;
}

.cta .emailContainer > img {
    width: 9.3%;
    margin-left: 8% ;
}

.cta .btnForm {
    width: 18.1%;
    height: 4rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* CTA tablet styling */
@media (max-width: 820px) {
    .cta{
        text-align: center;
    }

    .cta .emailContainer {
        width: 65%;
    } 

    .cta .btnForm {
        width: 25%;
    }

}

 /* CTA phone styling */

@media (max-width: 480px) {
    .cta{
        padding: 7%;
        gap: 10px;
    }
    
    .cta .form {
        flex-direction: column;
        gap: 10px;
    }

    .cta .emailContainer {
        width: 100%;
    }

    .cta .btnForm {
        width: 50%;
    }
}