@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* General styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    color: #6B708D;
    background-color: #E5E5E5;;
}

a {
    text-decoration: none;
    background: none;
}

.btnBlue {
    background-color: #072AC8;
    padding: 15px 36px;
    width: 150px;
    color:white;
    border: none;
}

h3 {
    color: #292E47;
    font-size: 40px;
}

h5 {
    color: #292E47;
    font-size: 24px;
}


p, img, a, input, h5, h3 {
    background: none;
}

#contacLi{
    display: none;
}

/* Nav bar style */

nav {
    display: flex;
    justify-content: space-around;
    align-items: last baseline;
    width: 100vw;
    height: 122px;
    margin-bottom: 100px;
}

.logoNav{
    width: 60.53px;
}

.ulNav{
    list-style-type: none;
    display: flex;
    gap: 60px;
    width: 295px;
}

/* Tablet Nav Bar */ 
@media (max-width: 767px) {

}



/* Phone Nav Bar */ 
@media (max-width: 480px) {
    #contactBtn{
        display: none;   
    }

    #contactLi {
        display: block;
    }

    nav {
        display: block;
        position: fixed;
        z-index: 1;
        padding: 20px;
    }

    .ulNav{
        display: block;
        gap: 10px;
        width: 50%;
    }

    .linkNav{
        display: block;
        padding: 10px;
    }

    .ulNav:hover {
        background-color: #FFFFFF;
    }

    .logoNav {
        float: right;
        padding: 10px 20px;
        margin-bottom: 10px;
    }


}





/* Hero section style */

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1470px;
    margin-bottom: 130px;
} 

.heroTextDiv{
    width: 530px;
    height: 422px;

}

.heroImgDiv{
    width: 570px;
    height: 637px;
}

.heroH1 {
    width: 530px;
    height: 210px;
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 18px;
    color: #292E47;

}

.heroP {
    width: 435px;
    height: 90px;
    line-height: 150%;
    margin-bottom: 65px;
}


.heroImg {
    position: relative;
    width: 570px;
    height: 638px;
}

.card1 {
    position: absolute;
    width: 350px;
    height: auto;
    left: 636px;
    top: 201px;

}

.card2 {
    position: absolute;
    width: 350px;
    height: auto;
    left: 1033px;
    top: 638px;
}


.heroBtn{
    width: 150px;
    height: 52px;
    margin-right: 40px;
}

.heroLink {
    width: 100px;
    height: 22px;

    font-weight: 500;
    font-size: 17px;
    line-height: 130%;
}

/* Client section style */

.client {
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    width: 1470px;
    height: 96px;

    border: 1px solid #000000;

}

.client > img {
    filter: grayscale(100%);
    width: 90px;
}

/* Project section style */
.projects{
    margin: 200px 170px;
}

.projects > h3 {
    margin-bottom: 70px;

}

.projectsContainer{
    display: flex;
    justify-content: space-around;
    width: 1100px;
}

.projectCard {
    width: 340px;
    background-color: #FFFFFF;
    height: 444px;
    
}

.projectCard > h5 {
    margin-left: 30px;   
    margin-bottom: 10px; 
}

.projectCard > p {
    margin-left: 30px;
    margin-bottom: 54px;
}

.projectCard > a {
    color: #072AC8;
    margin-left: 30px;
}

.projectImg{
    width: 340px;
    height: 240px;
    margin-bottom: 30px;
}

/* Testimonial section style */

.testimonial{
    position: relative;
    margin-right: 65px;
    margin-left: 65px;
    padding-top: 120px;
    padding-bottom: 120px;
    margin-bottom: 200px;

    background-color: #292E47;;
    background-image: url('/project-assets/testimonial-section/orbit.png');
    background-position: center;
    background-size: cover;
}

.testimonialDiv{
    background-color: #292E47;
    margin-left: 350px;
    margin-right: 350px;
}

.testimonialDiv > h3 {
    text-align: center;
    margin-bottom: 104px;

    color: #F4F6FC;
}

.testimonialDiv > p {
    text-align: center;
    margin-bottom: 104px;

    color: #FFC600;
    font-size: 24px;
    font-weight: 500;
    line-height: 160%;

}

/* Profile style and positioning */ 

.profile{
    background-color: #292E47;
    display: flex;
    width: 171px;
    height: 50px;
    margin-left: 232px;
}

.profile > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;

}

.textProfile {
    background-color: #292E47;
}

.textProfile > p {
    margin-bottom: 5px;

    color: #A2D6F9;
    font-size: 17px;

}
.textProfile > a {
    color: #F4F6FC;
    font-size: 13px;
}

/* Avatar positioning */

.testimonialImg{
    background-color: #292E47;
    position: absolute;
    width: 150px;
    height: 150px;
}

#avatar1 {
    top: 51px;
    left: 76px;
}

#avatar2 {
    top: 51px;
    right: 91px;
}

#avatar3 {
    left: 63px;
    bottom: 73px
}

#avatar4 {
    right: 73px;
    bottom: 75px;
}


/* Services section style and positioning */

.services {
    margin: 0 170px 200px 170px;
}

.services > h3 {
    margin-bottom: 70px;
    
}

.servicesContainer {
    display:flex;
    justify-content: space-evenly;
    gap: 40px
}

.servicesCard {
    background-color: #FFFFFF;
    width: 340px;
    padding: 0 30px 30px 30px;
}

.servicesImgContainer {
    background-color: #ECF7FF;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

    width: 80px;
    height: 80px;
    margin: 40px 0 30px 30px;  
}

.servicesImgContainer > img {
    width: 40px;
}

.servicesCard > h5 {
    margin-bottom: 20px;
}

.servicesCard > p {
    font-size: 20px;
    margin-bottom: 36px;
    line-height: 30px;
}

.servicesCard > a {
    color: #072AC8
}

/* CTA section styiling and positioning */

.cta{
    background-color: #FFC600;
    margin: 0 60px 200px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 110px
}

.cta > h3 {
    margin-bottom: 20px;
}

.cta > p {
    font-size: 20px;
    margin-bottom: 50px;

}

.ctaForm {
    background-color: #FFC600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px
}

.emailContainer {
    background-color: #F4F6FC;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 393px;
    height: 80px;
    
}

.emailContainer > input  {
    border: none;
    font-size: 17px;
}

.emailContainer > img {
    width: 30px;
    margin-left: 30px;

}

.btnForm {
    width: 190px;
    height: 80px;
}

/* Footer section style and positioning */

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
}

/* Positioning logo and address */

.footerLogoContainer{
    width: 260px;
}
.footerLogoContainer > img{
    width: 98px;
    margin-bottom: 30px;
} 
.footerLogoContainer > p {
    font-size: 17px;
}

/* Positioning links */

.footerLinks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 95px;

}


